{% block body %}
    {% for skillType, skillSet in resume.skills %}
      <h3>{{skillType | safe}}</h3>
      <ul>
        {% for skill in skillSet %}
        <li>{{skill | safe}}</li>
        {% endfor %}
      </ul>
    {% endfor %}
{% endblock %}