<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include 'layouts/head.njk' -%}
    {%- block head -%}{%- endblock -%}
  </head>
  <body>
      <a href="#main" class="skip-to-main">Skip To Main Content</a>
      {% include 'layouts/header.njk' %}
      <main class="main" id="main">
        {{ content | safe }}
      </main>
      {% include 'layouts/footer.njk' %}
      <script src="/dist/main.js" ></script>
  </body>
</html>