<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'layouts/head.njk' %}
    {% block head %}{% endblock %}
  </head>
  <body>
      {% include 'layouts/header.njk' %}
      {{ content | safe }}
      {% include 'layouts/footer.njk' %}
      <script src="/dist/main.js" ></script>
  </body>
</html>