<article class="latest-post">
  <h3 class="latest-post__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
  <time class="latest-post__pub-date" datetime=''>{{ post.data.publishedDate | myDate }}</time>
</article>