<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if ('sitemap' in page.url
or 'resume-markdown' in page.url
)%}
<meta name="robots" content="noindex, nofollow" />
{% elif ( 'work/' in page.url ) %}
<meta name="robots" content="noindex" />
{% endif %}
<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="/dist/main.css">
<title>{{ metaTitle or title }}</title>

{%- include 'layouts/tracking.njk' -%}
{%- include 'layouts/meta-description.njk' -%}