<header class="section section__hero">
  <h1 class="hero__heading">{{ title }}</h1>
  {% if publishedDate -%}
  <time class="published-date" datetime="{{publishedDate}}">{{publishedDate | safe}}</time>
  {%- endif %}
</header>