---
layout: base.njk
myOtherData: hello
---
<section class="section content">
  <h1 class="hero__heading">{{ title }}</h1>
  {{ myOtherData | safe }}
  <p>Hi there, my name is Paul.</p>
  <p>I create responsive websites with a user-focused experience.</p>
</section>