<aside class="tldr" aria-labelledby='tldr'>
  <div class="tldr__background" role='presentation'></div>
  <h2 id="tldr" class="tldr__heading"><abbr title="Too long didn't read" class="tldr__abbr">TLDR</abbr></h2>
  <p class="tldr__desc">{{ tldr | safe }}</p>
</aside>