---
layout : base.njk
pageName: blog
title : My Blog
subHeading : Expressing my thoughts and discoveries througout web development.
metaTitle: My blog exploring Web Development | Paul Ooi Development
metaDescription: My discoveries and solutions throughout web development
---

<div class="content">
  {% include 'layouts/hero.njk' %}
  <ul>
      {%- for post in collections.posts -%}
        <li>
          {% include 'layouts/card.njk' %}
        </li>
      {%- endfor -%}
  </ul>
</div>