---
layout : base.njk
pageName: blog
title : Blog Posts
metaTitle: My discoveries and solutions throughout web development | Paul Ooi Development
---

<div class="content">
  {% include 'layouts/hero.njk' %}
  <ul>
      {%- for post in collections.posts -%}
        <li>
          {% include 'layouts/card.njk' %}
        </li>
      {%- endfor -%}
  </ul>
</div>