---
layout : base.njk
pageName: contact
title : Contact me
metaTitle: My discoveries and solutions throughout web development
---

<div class="content">
  <section class="resume-section resume-section__location" aria-label="Last known location">
    <h2><abbr title="In Real Life">IRL</abbr>: Toronto, Ontario</h2>
  </section>
  <section class="resume-section resume-section__contact" aria-describedby="network">
    <h2 id="network" class="">Online</h2>
    {% include 'layouts/resume/resume-network.njk' %}
  </section>
</div>