---
layout : base.njk
pageName: contact
title : Contact me
metaTitle: My discoveries and solutions throughout web development
---

<div class="content">
  <section class="resume-section resume-section__location" aria-label="Last known location">
    <h2><abbr title="In Real Life">IRL</abbr></h2>
    <div class="location"><span class="location-marker"><img class="location-marker__icon" src="/assets/images/location-marker.svg" aria-hidden='true'></span>Ontario, Canada</div>
  </section>
  <section class="resume-section resume-section__contact" aria-describedby="network">
    <h2 id="network" class="">Online Networks</h2>
    {% include 'layouts/resume/resume-network.njk' %}
  </section>
</div>