---
layout : base.njk
title: About me
metaDescription: About Paul's work history and experience as a designer and Full-stack web developer
tag: ["career", "3D Modeling", "Web Development", "Graphic Design", "Interior Design", "Industrial Design"]

---
<div class="content">
  <section class="resume-section resume-section__location" aria-label="Last known location">
    <h2>Toronto, Ontario</h2>
  </section>

  <section class="resume-section resume-section__contact" aria-describedby="network">
    <h2 id="network" class="resume-section-heading">Reach me</h2>
    {% include 'layouts/resume/resume-network.njk' %}
  </section>

  <section class="resume-section resume-section__skills" aria-describedby="skills">
    <h2 id="skills" class="resume-section-heading">Skills</h2>
      <div class="skillsets">
        {% include 'layouts/resume/resume-skill.njk' %}
      </div>
  </section>

  <section class="resume-section resume-section__education" aria-describedby="education">
    <h2 id="education" class="resume-section-heading">Education</h2>
    {% set list = resume.education %}
      {% include 'layouts/resume/resume-detailed-section.njk' %}
  </section>

  <section class="resume-section resume-section__projects" aria-describedby="projects">
    <h2 id="projects" class="resume-section-heading">Projects</h2>
    {% set list = resume.projects %}
      {% include 'layouts/resume/resume-detailed-section.njk' %}
  </section>

  <section class="resume-section resume-section__jobs" aria-describedby="jobs">
    <h2 id="jobs" class="resume-section-heading">Jobs</h2>
    {% set list = resume.jobs %}
      {% include 'layouts/resume/resume-detailed-section.njk' %}
  </section>

  <section class="resume-section resume-section__volunteer" aria-describedby="volunteer">
    <h2 id="volunteer" class="resume-section-heading">Volunteer</h2>
    {% set list = resume.volunteer %}
      {% include 'layouts/resume/resume-detailed-section.njk' %}
  </section>

  <section class="resume-section resume-section__awards" aria-describedby="awards">
    <h2 id="awards" class="resume-section-heading">Awards</h2>
    {% set list = resume.awards %}
      {% include 'layouts/resume/resume-detailed-section.njk' %}
  </section>
</div>
