---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">{% for page in collections.all %}{% if ('sitemap' not in page.url
    and 'projects/' not in page.url 
    and 'resume-markdown/' not in page.url 
    and 'work/' not in page.url 
    and 'scraping-websites-for-data/' not in page.url 
    )%}
    <url>
        <loc>{{ site.url }}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.getFullYear() }}-{{ page.date.getMonth() }}-{{ page.date.getDate() }}</lastmod>
    </url>{% endif %}{% endfor %}
</urlset>
