@mixin link-text {
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

@mixin code-block {
  font-family: monaco, ui-monospace, monospace;
  line-height: 1.25;
  background: rgba(0,0,0,0.7);
}